/*
    GENERAL
*/

// Desktop Breakpoint
$container-max-widths: (
  lg: 1920px,
);

/*
// Media Query // originally 576px, 768px
@media (min-width: 768px) {
.d-none {
    display: none !important;
}
}
*/

// Reduce hr height
hr.my-3 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

/*
    POST-LISTING
*/

.post-listing {
  line-height: 1.25;

  .post-title h5 {
    margin: 0;
  }

  .post-title + p {
    padding-top: 0.125rem !important;
    padding-bottom: 0.125rem !important;
  }

  .community-link {
    padding-left: 0.125rem;
  }

  .person-listing {
    padding-right: 0.125rem;
  }

  ul.list-inline {
    &.mt-2 {
      margin-top: 0.125rem !important;
    }
    &.mb-1 {
      margin-bottom: 0.125rem !important;
    }
  }

  .btn-sm {
    --bs-btn-padding-y: 0;
  }
  .img-icon {
    display: none;
  }
}

/*
    RBLIND THEME
*/

small, .small {
  font-size: 1.25rem !important;
}

.post-listing p {
  line-height: 1.5em !important;
  margin-bottom: 1.5em !important;
}

.post-title + p.small {
  margin-bottom: 0.75rem !important;
}

// image margin on Image Posts
.offset-sm-3 {
  margin-left: 0% !important;
  margin-right: 25% !important;
}

// reduce post nest margin, however, does not work due to inline style !important
.ms-1 {
  margin-left: 0.2rem !important;
}

// the navigation bar left margin is set to auto which at some resolutions will add extra padding unless you add the below
.container-lg {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.z-3 {
    z-index: auto !important;
}

// give skip-link the same focus style as .btn:focus-visible
.skip-link:focus, .skip-link:focus-visible {
text-decoration: underline;
}

// change font size of .skip-link
.skip-link {
  font-size: small;
  background-color: unset !important;
}

// Buttons
.btn {
  border-radius: 0.5rem;
}

// buttons on posts
// --bs-secondary-color is the button colour
// original opacity was 0.75


.btn-sm, .btn-group-sm > .btn, .btn,
a.sort-select-icon .icon,
a[title=RSS] .icon,
a[title="sorting help"] .icon {
  padding: 0.7rem 0.7rem !important;
  outline: 1px solid rgba(222, 226, 230, 0.2) !important;
}

// Allowed Instances and Blocked Instances button on the Site Configuraiton page has inline style width= 2rem; height: 2rem;
// currently 38x38px but cannot go higher
input#create_site_allowed_instances .btn {
  padding: 0.7rem 0.7rem !important;
}

// the dropdown box Registration Mode on Site Settings, make the options share the same padding as the button
// does not work - javascript required to change as the styling of the options is determined by the browser
// unless it's set to overflow like the Language Select
select option {
  padding: 0.7rem 0.7rem !important;
}

// try change the size of the up and down arrows
// Rate Limit options
// does not work, requires javascript
/*
input#rate-limit::after {
 min-height: 44px;
 min-width: 44px;
}
*/

// reduce padding next to the up and downvote container
article.post-container > .flex-grow-0 {
  padding: 0.25rem;
}

// give the svg icon links a focus indicator like other elements
a.sort-select-icon:focus svg,
a[title=RSS]:focus svg,
a[title="sorting help"]:focus svg {
  box-shadow: 0 0 0 0.25rem rgba(0, 188, 140, 0.25);
}

// no outline on navigation bar buttons only
nav a.nav-link .icon {
  padding: 0.7rem 0.7rem !important;
}
/* not working 
input[type="checkbox"] {
  padding: 0.7rem 0.7rem !important;
}
  */

  // when interacting with a label with a checkbox, change the cursor
.form-check > * {
  cursor: pointer;
}

.form-check[disabled] > * {
  cursor: default;
}

.btn-sm .icon, .btn-group-sm > .btn .icon, .btn .icon,
a.sort-select-icon .icon,
a[title=RSS] .icon,
a[title="sorting help"] .icon,
nav a.nav-link .icon {
  height: 1em;
  font-size: 1.2em !important;
}

// 0.5rem is a bit small but fits on a big screen
nav ul#navbarLinks a.nav-link {
  margin-right: 0.75rem !important;
}

// The Support Lemmy icon link should not have extra padding etc
nav ul#navbarLinks a.nav-link:last-child {
  padding: 0rem 0rem 0rem 0rem !important;
}

// treat the navbar icons differently
nav ul#navbarIcons a.nav-link {
  padding: 0rem 0rem 0rem 0rem !important;
  margin: 0rem 0.5rem 0rem 0rem !important;
}

// default is var(--bs-btn-focus-box-shadow)
// changed to the same value as the other buttons
// this affects the Posts / Comments
.btn-check:checked + .btn:focus-visible, :not(.btn-check) + .btn:active:focus-visible, .btn:first-child:active:focus-visible, .btn.active:focus-visible, .btn.show:focus-visible {
  box-shadow: 0 0 0 0.25rem rgba(0, 188, 140, 0.25) !important;
}

.btn:focus-visible {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(0, 188, 140, 0.25) !important;; // default value var(--bs-btn-focus-box-shadow)
}

/*
// toggle button is actually a check box
.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
  color: var(--bs-btn-active-color);
  background-color: var(--bs-btn-active-bg); // this just changes the toggle background colour
  border-color: rgba(0, 188, 140, 0.25) !important; // default value was var(--bs-btn-active-border-color); // changes the border col
}
  */

  // The username dropdown toggle "li id="dropdownUser" does not have a focus indicator
  .dropdown-toggle:focus-visible {
    box-shadow: 0 0 0 0.25rem rgba(0, 188, 140, 0.25);
  }


/*
.nav-link:focus-visible {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(0, 188, 140, 0.25);
}
  */



nav ul#navbarLinks {
  margin-right: auto !important; // margin that determines the automatic spacing
}

// Align navigation links
// specify nav or will apply to footer
nav ul#navbarLinks a.nav-link {
  margin-right: 0.75 !important; // was 0.5
  font-size: 0.9rem !important;
  margin-top: 0.9rem;
}

// Donate to Lemmy button sticks out from the rest
nav ul#navbarLinks li:last-child a.nav-link {
  margin-top: 0.4rem;
}

.btn-sm, .btn-group-sm > .btn, .btn {
  box-sizing: border-box !important; // needed to switch from content-box to border-box because of button overflow
}

a.sort-select-icon .icon,
a[title=RSS] .icon,
a[title="sorting help"] .icon,
a.nav-link .icon {
  box-sizing: content-box !important;
}

.comment-bottom-btns .btn,
.post-title + div + div .btn,
.post-title + p + div + div .btn,
.comment .btn {
  margin-right: 0.25rem;
}

a.person-listing ~ span + .btn,
a.person-listing + .btn,
.post-title .btn,
.card-header .btn {
  margin-left: 0.25rem;
}

// increase bottom margin of post-title
.post-title,
.post-title + div,
.post-title + p + div {
  margin-bottom: 0.5rem !important;
}

// Skip link should be defined after buttons, so it does not inherit their padding values
.skip-link {
  display: block;
  position: relative !important;
  top: 0;
  left: 0 !important;
  text-align: left;
  border-radius: 0rem !important;
  padding: 0.25rem !important;
}

// Layout
// remove the left margin on large layouts for Create Communities and Create Post pages
// breakpoint is 1200px
.offset-lg-3 {
  margin-left: 0% !important; // default is 25%
}

// Make forms take up more space in the screen so labels aren't flowing onto a new line
@media (min-width: 1200px) {
.col-lg-6 {
  flex: 0 0 auto;
  width: 70% !important; // default value is 50%
}
}

// make sure the navigation bar wraps properly with the larger font sizes
@media (min-width: 768px) {
  .navbar-expand-md .navbar-collapse {
    flex-wrap: wrap !important;
  }
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav {
    flex-wrap: wrap !important;
  }
}

// make the main content area "home container-lg" become 100% instead of stuck at 940px

@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 100% !important;
  }
}

// very long usernames or domains should overflow onto the next line
// only the domain will overflow
.person-listing picture + span + small {
  word-break: break-all; // no default value
}

// increase the size of the thumbnail in the home feed
.thumbnail {
  width: 9rem; // default value 5rem;
  height: 9rem; // default value is 5rem;
}

// add spacing above and below the vote number
.post-score {
  margin-top: 0.25rem; // no default value
  margin-bottom: 0.25rem;
}

// align the vote up button with the top of the container
.vote-bar {
  margin-top: 0px; // original -6.5px
}

// add spacing above and below the post
.post-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

// change tab button mark border, when navigating in Inspector it is a small rectangle in the corner of the button
.btn-check:focus-visible + .btn {
  box-shadow: 0 0 0 0.25rem rgba(0, 188, 140, 0.25); // --bs-btn-focus-box-shadow default
}

.btn-check:checked + .btn:focus-visible, :not(.btn-check) + .btn:active:focus-visible, .btn:first-child:active:focus-visible, .btn.active:focus-visible, .btn.show:focus-visible {
  box-shadow: 0 0 0 0.25rem rgba(0, 188, 140, 0.25); //--bs-btn-focus-box-shadow default
}
.btn-check:checked:focus-visible + .btn {
  box-shadow: 0 0 0 0.25rem rgba(0, 188, 140, 0.25); //--bs-btn-focus-box-shadow default
}

/*
// the eye/eye crossed out on the home page has no focus indicator so try to fix that
#show-hidden.btn-check:focus-visible + .btn {
  box-shadow: 0 0 0 0.25rem rgba(0, 188, 140, 0.25) !important; //--bs-btn-focus-box-shadow default
}

#show-hidden.btn-check:checked + .btn:focus-visible, :not(.btn-check) + .btn:active:focus-visible, #show-hidden.btn:first-child:active:focus-visible, #show-hidden.btn.active:focus-visible, #show-hidden.btn.show:focus-visible {
  box-shadow: 0 0 0 0.25rem rgba(0, 188, 140, 0.25); //--bs-btn-focus-box-shadow default
}
#show-hidden.btn-check:checked:focus-visible + .btn {
  box-shadow: 0 0 0 0.25rem rgba(0, 188, 140, 0.25); //--bs-btn-focus-box-shadow default
}
  */

  // focus-within gives the "eye" show hidden posts buttons a focus indicator whereas previously they had none
  // tippy tooltip cannot be controlled unless using javascript
  label.btn:focus-visible, label.btn:focus, label.btn:focus-within {
    box-shadow: 0 0 0 0.25rem rgba(0, 188, 140, 0.25);
  }

  // Added everything after .downvote:hover so the effects apply to when the button area is hovered not just the icon
  // Also made this happen on focus too
  .downvote:hover, .btn:hover .downvote, .btn:focus .downvote,
  .downvote:focus, .btn:focus .downvote, .btn:focus .downvote {
    color: var(--bs-danger);
  }

  .upvote:hover, .btn:hover .upvote, .btn:focus .upvote,
  .upvote:focus, .btn:focus .upvote, .btn:focus .upvote {
    color: var(--bs-info);
  }

  // need to add this below button style definition
  .skip-link {
  outline: unset !important;
  }

  // every other page is missing a <main> element, so classes need to be added individually
  // need to verify .inbox, .person-reports, .registration-applications a
  main a, #sidebarContainer a, .communities a, .admin-settings a, .person-profile a, .inbox a, .person-reports a, .registration-applications a {
    text-decoration: underline;
  }

    // make sure links that appear as buttons don't have an underline
  main a.btn, #sidebarContainer a.btn, .communities a.btn, .admin-settings a.btn, .person-profile a.btn, .inbox a.btn, .person-reports a.btn, .registration-applications a.btn {
    text-decoration: none;
  }

  .communities a, .person-listing a small {
    text-decoration-color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1)) !important; // 
  }

  // make post title link underline and link post link underline the same as the text when visited
  .post-title a:visited:not(:hover), .post-title + p a:visited:not(:hover) {
    text-decoration-color: var(--bs-gray) !important; // the visited underline is otherwise not the same colour as the text
  }

  // make sure the toggle button in the sidebar "Subscribed" does not overflow the container
  #sidebarSubscribedHeader {
    flex-wrap: wrap;
  }

  // overwrite h6 value in post since without this it is larger than h5
  .md-div h6 {
    font-size: 1.1rem;
  }

  // increase the spacing between wrapping list buttons in the sidebar
  .community-sidebar ul li .btn {
    margin-bottom: 0.25rem;
  }