/*
Copyright 2024, 2025 Travis Jeans

This file is part of RBlind Lemmy Themes.

RBlind Lemmy Themes is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

RBlind Lemmy Themes is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with RBlind Lemmy Themes. If not, see <https://www.gnu.org/licenses/>. 

*/
/*
    GENERAL
*/
/*
// Media Query // originally 576px, 768px
@media (min-width: 768px) {
.d-none {
    display: none !important;
}
}
*/
hr.my-3 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

/*
    POST-LISTING
*/
.post-listing {
  line-height: 1.25;
}
.post-listing .post-title h5 {
  margin: 0;
}
.post-listing .post-title + p {
  padding-top: 0.125rem !important;
  padding-bottom: 0.125rem !important;
}
.post-listing .community-link {
  padding-left: 0.125rem;
}
.post-listing .person-listing {
  padding-right: 0.125rem;
}
.post-listing ul.list-inline.mt-2 {
  margin-top: 0.125rem !important;
}
.post-listing ul.list-inline.mb-1 {
  margin-bottom: 0.125rem !important;
}
.post-listing .btn-sm {
  --bs-btn-padding-y: 0;
}
.post-listing .img-icon {
  display: none;
}

/*
    RBLIND THEME
*/
small, .small {
  font-size: 1.25rem !important;
}

.post-listing p {
  line-height: 1.5em !important;
  margin-bottom: 1.5em !important;
}

.card-text {
  line-height: 1.5em;
}

.card, .card-body {
  color: var(--bs-gray-200) !important;
  background-color: var(--bs-gray-800) !important;
  border-radius: var(--bs-border-radius);
}

.card .btn-outline-dark {
  color: var(--bs-gray-200) !important;
}

.post-listing {
  padding: 0.1rem 0.25rem 0.1rem 0.25rem;
}

.post-title + p.small {
  margin-bottom: 0.75rem !important;
}

.offset-sm-3 {
  margin-left: 0% !important;
  margin-right: 25% !important;
}

.ms-1 {
  margin-left: 0.2rem !important;
}

.container-lg {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.skip-link:focus, .skip-link:focus-visible {
  top: 0.25rem;
  left: 0.25rem !important;
  text-decoration: underline;
  box-shadow: 0 0 0 0.25rem var(--rblind-focus-indicator) !important;
}

.skip-link {
  top: -60px;
}

.btn {
  border-radius: 0.5rem;
}

.btn-sm, .btn-group-sm > .btn, .btn,
a.sort-select-icon .icon,
a[title=RSS] .icon,
a[title="sorting help"] .icon,
.inbox .private-message ul.list-inline.mb-0.text-muted.small li:last-child .icon,
.navbar-toggler .icon,
#navMessages {
  padding: 0.7rem 0.7rem !important;
  outline: 1px solid rgba(var(--gray-200-rgb), var(--icon-outline-opacity)) !important;
}

.inbox .private-message ul.list-inline.mb-0.text-muted.small li:last-child .icon,
.navbar-toggler .icon {
  box-sizing: content-box;
  border-radius: var(--bs-border-radius);
}

.inbox .private-message ul.list-inline.mb-0.text-muted.small li:last-child .icon {
  color: rgba(var(--gray-200-rgb), 0.75);
}

.text-muted {
  color: var(--bs-secondary-color) !important;
}

.navbar-toggler,
#navMessages a,
#navMessages {
  padding: 0rem !important;
  outline: 0rem !important;
}

.navbar-toggler .icon {
  outline: 0rem !important;
}

.post-title a:visited:not(:hover) {
  color: var(--bs-gray-500) !important;
}

.link-dark {
  color: var(--bs-gray-200) !important;
  text-decoration-color: RGBA(var(--bs-gray-200), var(--bs-link-underline-opacity, 1)) !important;
}

.post-title .link-primary {
  color: var(--bs-info) !important;
}

.link-dark:hover, .link-dark:focus,
.link-primary:hover, .link-primary:focus {
  color: var(--bs-gray-200) !important;
}

.navbar,
.nav-link {
  color: rgba(var(--bs-white-rgb), 0.8);
}

.nav-link:hover, .nav-link:focus {
  color: var(--bs-gray-200);
  border-color: var(--bs-white) !important;
}

.btn:disabled, fieldset:disabled .btn {
  font-style: italic;
  background-color: var(--bs-gray-200);
  color: var(--bs-black) !important;
}

.form-check-input[disabled] ~ .form-check-label, .form-check-input:disabled ~ .form-check-label {
  cursor: default;
  opacity: 0.8;
  font-style: italic;
}

select option {
  padding: 0.7rem 0.7rem !important;
}

article.post-container > .flex-grow-0 {
  padding: 0.25rem;
}

a.sort-select-icon:focus svg,
a[title=RSS]:focus svg,
a[title="sorting help"]:focus svg,
.navbar-toggler:focus {
  box-shadow: 0 0 0 0.25rem var(--rblind-focus-indicator) !important;
}

nav a.nav-link .icon {
  padding: 0.7rem 0.7rem !important;
}

.form-check > * {
  cursor: pointer;
}

.form-check[disabled] > * {
  cursor: default;
}

.form-check > input#community-only-mods-can-post[type=checkbox] {
  padding: 22px;
}

.form-control::file-selector-button {
  background-color: var(--bs-gray-800);
}

.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
  background-color: var(--bs-gray-700);
}

.mini-overlay {
  background: var(--bs-gray-900);
  background-color: var(--bs-gray-900);
}

.mark {
  color: var(--bs-white);
  background-color: var(--bs-gray-800);
}

pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}

code.hljs {
  padding: 3px 5px;
}

.hljs {
  color: var(--bs-gray-200) !important;
  background: var(--bs-black) !important;
}

.hljs-comment,
.hljs-quote {
  color: var(--bs-black) !important;
  font-style: italic;
}

.hljs-doctag,
.hljs-formula,
.hljs-keyword {
  color: var(--bs-teal) !important;
}

.hljs-deletion,
.hljs-name,
.hljs-section,
.hljs-selector-tag,
.hljs-subst {
  color: var(--bs-red) !important;
}

.hljs-literal {
  color: var(--bs-cyan) !important;
}

.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
  color: var(--bs-green) !important;
}

.hljs-attr,
.hljs-number,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
  color: var(--bs-orange) !important;
}

.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-symbol,
.hljs-title {
  color: var(--bs-blue) !important;
}

.hljs-built_in,
.hljs-class .hljs-title,
.hljs-title.class_ {
  color: var(--bs-yellow) !important;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: 700;
}

.hljs-link {
  text-decoration: underline;
}

/* Give the text !main@blind.com search field snippet a darker background in the spirit of .hljs for code */
code.user-select-all {
  background-color: var(--bs-black);
}

.btn-sm .icon, .btn-group-sm > .btn .icon, .btn .icon,
a.sort-select-icon .icon,
a[title=RSS] .icon,
a[title="sorting help"] .icon,
nav a.nav-link .icon {
  height: 1em;
  font-size: 1.2em !important;
}

nav ul#navbarLinks a.nav-link,
nav ul#navbarIcons a.nav-link[title=Login],
nav ul#navbarIcons a.nav-link[title="Sign Up"] {
  margin-right: 0.75rem !important;
}

nav ul#navbarLinks a.nav-link,
nav ul#navbarIcons a.nav-link {
  padding: 0.9rem 0rem 0.1rem 0rem !important;
}

nav ul#navbarIcons a.nav-link[title=Login],
nav ul#navbarIcons a.nav-link[title="Sign Up"] {
  padding: 0.7rem 0rem 0.3rem 0rem !important;
}

nav ul#navbarLinks li:last-child a.nav-link {
  padding: 0rem 0rem 0rem 0rem !important;
}

nav ul#navbarIcons a.nav-link {
  padding: 0rem 0rem 0rem 0rem !important;
  margin: 0rem 0.5rem 0rem 0rem !important;
}

.btn:focus-visible {
  box-shadow: 0 0 0 0.25rem var(--rblind-focus-indicator) !important;
}

.form-control, .form-select {
  border: var(--bs-border-width) solid var(--bs-gray-600) !important;
}

.form-select:focus,
.form-control:focus {
  border-color: var(--rblind-focus-indicator);
  box-shadow: 0 0 0 0.25rem var(--rblind-focus-indicator) !important;
}

a {
  color: var(--bs-info);
}

.placeholder {
  opacity: 1;
}

.form-control::placeholder {
  color: var(--bs-gray-500);
}

.btn-check:checked + .btn:focus-visible, :not(.btn-check) + .btn:active:focus-visible, .btn:first-child:active:focus-visible, .btn.active:focus-visible, .btn.show:focus-visible {
  box-shadow: 0 0 0 0.25rem var(--rblind-focus-indicator) !important;
}

.dropdown-toggle:focus-visible {
  box-shadow: 0 0 0 0.25rem var(--rblind-focus-indicator) !important;
}

nav ul#navbarLinks {
  margin-right: auto !important;
}

nav ul#navbarLinks a.nav-link,
nav ul#navbarIcons a.nav-link[title=Login],
nav ul#navbarIcons a.nav-link[title="Sign Up"] {
  font-size: 0.9rem !important;
}

nav ul#navbarLinks li:last-child a.nav-link {
  margin-top: 0.4rem;
}

a.sort-select-icon .icon,
a[title=RSS] .icon,
a[title="sorting help"] .icon,
a.nav-link .icon {
  box-sizing: content-box !important;
}

.comment-bottom-btns .btn,
.post-title + div + div .btn,
.post-title + p + div + div .btn,
.comment .btn {
  margin-right: 0.25rem;
}

a.person-listing ~ span + .btn,
a.person-listing + .btn,
.post-title .btn,
.card-header .btn {
  margin-left: 0.25rem;
}

.post-title,
.post-title + div,
.post-title + p + div {
  margin-bottom: 0.5rem !important;
}

.offset-lg-3 {
  margin-left: 0% !important;
}

@media (max-width: 1200px) {
  #navbar {
    padding-top: 0.25rem !important;
  }
}
@media (min-width: 1200px) {
  .col-lg-6 {
    flex: 0 0 auto;
    width: 70% !important;
  }
}
@media (min-width: 768px) {
  .navbar-expand-md .navbar-collapse {
    flex-wrap: wrap !important;
  }
}
@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav {
    flex-wrap: wrap !important;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 100% !important;
  }
}
.person-listing picture + span + small {
  word-break: break-all;
}

.person-listing {
  display: inline !important;
}

.thumbnail {
  width: 9rem;
  height: 9rem;
  outline: 1px solid var(--bs-gray-600);
}

.post-score {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.vote-bar {
  margin-top: 0px;
}

.post-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.btn-check:focus-visible + .btn {
  box-shadow: 0 0 0 0.25rem var(--rblind-focus-indicator) !important;
}

.btn-secondary:focus-visible {
  box-shadow: 0 0 0 0.25rem var(--rblind-focus-indicator) !important;
}

.btn-outline-secondary:focus {
  box-shadow: 0 0 0 0.25rem var(--rblind-focus-indicator) !important;
}

.btn-check:checked:focus-visible + .btn {
  box-shadow: 0 0 0 0.25rem var(--rblind-focus-indicator) !important;
}

label.btn:focus-visible, label.btn:focus, label.btn:focus-within {
  box-shadow: 0 0 0 0.25rem var(--rblind-focus-indicator) !important;
}

.downvote:hover, .btn:hover .downvote, .btn:focus .downvote,
.downvote:focus, .btn:focus .downvote, .btn:focus .downvote {
  color: var(--bs-danger);
}

.upvote:hover, .btn:hover .upvote, .btn:focus .upvote,
.upvote:focus, .btn:focus .upvote, .btn:focus .upvote {
  color: var(--bs-info);
}

main a, #sidebarContainer a, .communities a, .admin-settings a, .person-profile a, .inbox a, .person-reports a, .registration-applications a {
  text-decoration: underline;
}

main a.btn, #sidebarContainer a.btn, .communities a.btn, .admin-settings a.btn, .person-profile a.btn, .inbox a.btn, .person-reports a.btn, .registration-applications a.btn {
  text-decoration: none;
}

.post-title a,
.post-metadata-card .card-body .card-title a {
  text-decoration: none;
}

.communities a, .person-listing a small {
  text-decoration-color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1)) !important;
}

.post-title a:visited:not(:hover), .post-title + p a:visited:not(:hover) {
  text-decoration-color: var(--bs-gray) !important;
}

.link-dark:hover, .link-dark:focus {
  text-decoration-color: var(--bs-gray-200) !important;
}

#sidebarSubscribedHeader {
  flex-wrap: wrap;
}

.md-div h6 {
  font-size: 1.1rem;
}

.community-sidebar ul li .btn {
  margin-bottom: 0.25rem;
}

hr {
  border-top: var(--bs-border-width) solid var(--divider);
  opacity: 1;
}

li.comment article.comment-node.border-top {
  border-top-color: var(--divider) !important;
}

span[aria-label=creator] {
  color: var(--bs-white) !important;
  border-color: var(--bs-white) !important;
}

/*# sourceMappingURL=RBlind-Theme.css.map */
